@model TabloidMVC.Models.ViewModels.PostCommentViewModel

@{
    ViewData["Title"] = "Index";
}

<div class="container pt-5">
    <div class="comment">
        <section class="px-3">
            <div class="row justify-content-between">
                <h1 class="text-secondary">@Model.Post.Title</h1>
                <h1 class="text-black-50">Comments</h1>
            </div>
            <div class="row">
                <a class="btn btn-primary" asp-action="Create">New Comment</a>
            </div>
        </section>
        <hr />
        <section class="col">
            @foreach (Comment comment in Model.Comments)
            {
                <div class="card m-2">
                    <div class="card-body">
                        <p class="card-text"><small class="text-muted"><i class="fas fa-user"></i> &nbsp; @comment.UserProfile.FullName &nbsp; <i class="far fa-clock"></i> &nbsp; @comment.CreateDateTime</small></p>
                        <h5 class="card-title text-secondary">@comment.Subject</h5>
                        <p class="card-text">@comment.Content</p>
                    </div>
                </div>
            }
        </section>
        <br />
        <div>
            <a class="btn btn-primary" asp-controller="Post" asp-action="Details" asp-route-id="@Model.Post.Id">Back to post</a>
        </div>
    </div>
</div>
