@model TabloidMVC.Models.ViewModels.PostDetailView

@{
    ViewData["Title"] = $"Post - {Model.Post.Title}";
}

<div class="container pt-5">
    <div class="post">
        <section class="px-3">
            <div class="row justify-content-between">
                <h1 class="text-secondary">@Model.Post.Title</h1>
                <h1 class="text-black-50">@Model.Post.Category.Name</h1>
            </div>
            <div class="row justify-content-between">
                <p class="text-secondary">Written by @Model.Post.UserProfile.DisplayName</p>
                <p class="text-black-50">Published on @Html.DisplayFor(model => model.Post.PublishDateTime)</p>
            </div>
            <div class="row justify-content-start">
                @{ string minuteForm = Model.ReadTime == 1 ? "minute" : "minutes"; }
                <p class="text-secondary">Estimated read time: @Model.ReadTime @minuteForm</p>
            </div>
            <div class="row">
                <a asp-action="Edit" asp-route-id="@Model.Post.Id" class="btn btn-outline-primary mx-1" title="Edit">
                    <i class="fas fa-pencil-alt"></i>
                </a>
                <a asp-action="Delete" asp-route-id="@Model.Post.Id" class="btn btn-outline-primary mx-1" title="Delete">
                    <i class="fas fa-trash"></i>
                </a>
                <a asp-controller="Tag" asp-action="AddTagsToPost" asp-route-id="@Model.Post.Id" class="btn btn-outline-primary mx-1" title="Tag Manager">
                    <i class="fa fa-tags"></i>
                </a>
            </div>
        </section>
        <hr />
        @if (!string.IsNullOrWhiteSpace(Model.Post.ImageLocation))
        {
            <section class="row justify-content-center">
                <div>
                    <img src="@Model.Post.ImageLocation" />
                </div>
            </section>

        }

        @if (!((Model.PostTags == null) || (!Model.PostTags.Any())))
        {

            <section class="row justify-content-start mt-3">
                <h5 class="text-secondary m-1 p-1 align-middle">Tags:</h5>
                @foreach (Tag tag in Model.PostTags)
                {
                    <div class="card m-1 p-1 text-center" id="t-@tag.Id">
                        @tag.Name
                    </div>
                }
            </section>
            <hr />
        }



        <section class="row post__content">
            <p class="col-sm-12 mt-5">@Html.DisplayFor(model => model.Post.Content)</p>
        </section>
        <div class="row">
            <div class="m-1">
                <a class="btn btn-primary" asp-controller="Comment" asp-action="Index" asp-route-id="@Model.Post.Id">View Comments</a>
            </div>
            <div class="m-1">
                <a class="btn btn-primary" asp-controller="Comment" asp-action="Create" asp-route-id="@Model.Post.Id">Add Comment</a>
            </div>
        </div>
    </div>
</div>