@model IEnumerable<TabloidMVC.Models.UserProfile>

@{
    ViewData["Title"] = "Deactivated";
}

<div class="container pt-5">
    <h1>Deactivated User Profiles</h1>
    <p>
        <a class="btn btn-primary" asp-action="Index">View Active Users</a>
    </p>


    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.DisplayName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FullName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UserType)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.DisplayName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FullName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserType.Name)
                    </td>
                    <td>
                        <a asp-action="Reactivate" asp-route-id="@item.Id" class="btn btn-outline-success mx-1" title="Delete">
                            <i class="fas fa-power-off"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>