@model TabloidMVC.Models.UserProfile

@{
    ViewData["Title"] = "Delete";
}

<div class="row justify-content-center">
    <div class="card col-md-4">
        <h4 class="mt-3 text-primary text-center card-title">Deactivate this user?</h4>
        <p><strong>The user can be reactivated later.</strong></p>

        <form class="card-body" asp-action="Delete">
            <dl class="row">
                <dt class="col-sm-5">
                    @Html.DisplayNameFor(model => model.DisplayName)
                </dt>
                <dd class="col-sm-7">
                    @Html.DisplayFor(model => model.DisplayName)
                    <input asp-for="DisplayName" type="hidden" />
                </dd>
                <dt class="col-sm-5">
                    @Html.DisplayNameFor(model => model.FullName)
                </dt>
                <dd class="col-sm-7">
                    @Html.DisplayFor(model => model.FullName)
                </dd>
                <dt class="col-sm-5">
                    @Html.DisplayNameFor(model => model.Email)
                </dt>
                <dd class="col-sm-7">
                    @Html.DisplayFor(model => model.Email)
                    <input asp-for="Email" type="hidden" />
                </dd>
                <dd>
                    @* Additional fields needed to update the model *@
                    <input asp-for="Id" type="hidden" />
                    <input asp-for="FirstName" type="hidden" />
                    <input asp-for="LastName" type="hidden" />
                    <input asp-for="CreateDateTime" type="hidden" />
                    <input asp-for="ImageLocation" type="hidden" />
                    <input asp-for="UserTypeId" type="hidden" />
                </dd>
            </dl>
            <div class="form-group">
                <input type="submit" value="Deactivate" class="btn btn-danger btn-block" />
                <a class="btn btn-primary btn-block" asp-controller="UserProfile" asp-action="Index">Cancel</a>
            </div>
        </form>
    </div>
</div>
